{% extends 'base.html' %}

{% block main_content%}
		
	

	<section class="habit_list">
		
		{% for habit in all_habits %}
				
			{% set completed = habit['_id'] in completed_tasks %}
			{% if completed %}

				<div class="habit completed">
					<p class="habit_name">
						{{ loop.index }}. {{ habit["name"] }}
					</p>
					<svg class="habit__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
+                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
+                </svg>
				</div>
				{% else %}
					<div class="habit">
						<form method="POST" class="habit_form" action="{{ url_for('habits.mark_complete_task') }}">
							<input type="hidden" name="habitid" value="{{ habit['_id'] }}">
							<input type="hidden" name="date" value="{{ selected_date }}">
							<button type="submit" class="habit_button">{{habit["name"]}}</button>
						</form>
					</div>
			{% endif %}

		{% endfor %}	
		
		
	</section>
{% endblock %}



	