<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Habit Tracker | Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}">
</head>
<body>
	
<!-- <h1>Welcome, this is login page</h1> -->
{% for message in get_flashed_messages() %}
	<div class="alert">
		<p>{{message}}</p>
	</div>
	{% endfor %}

	<main>
		<div class="login-container">
			<div class="login-box">
				<h2>Login</h2>
					<form method="POST">
						<label for="mail">E-mail</label>
						<input type="email" name="email" placeholder="Enter E-mail"  id ="mail" required />
					
						<label for="pass"> Password</label>
						<input type="password" name="password"  placeholder="Enter Password" id="pass" required />
					
						<input type="submit" class="button" value="Login">
					</form>		
			</div>
		</div>
		
		<p class="extra"><a href="{{url_for('habits.signup')}}">Sign-up</a> Instead?</p>
	</main>
</body>
</html>
